.bg-black {
background-color:black;}

.fg-red {
color:red;}

.fg-white {
color:white;}

.fg-blue {
color:blue;}



/* .Webdev-header {color:red;background-color:black}
.AUEB-header {color:blue;background-color:black}
.webdev-text {color:white;background-color:black} */